In [1]:
from pandas import *
import numpy as np

In [3]:
df=read_csv("D:\\Vivek\\sql\\SQL\\Lok Sabha Elections Data analysis\\cleaned_and_transformed_data\\results_2014.csv")

In [4]:
df

,state_id,candidate,sex,age,general_votes,postal_votes,total_votes,total_electors,pc_id,category_id,party_id
0,0,GODAM NAGESH,M,49.0,425762,5085,430847,1386282,0,0.0,412.0
1,0,NARESH,M,37.0,257994,1563,259557,1386282,0,0.0,163.0
2,0,RAMESH RATHOD,M,48.0,182879,1319,184198,1386282,0,0.0,406.0
3,0,RATHOD SADASHIV,M,55.0,94363,57,94420,1386282,0,0.0,110.0
4,0,NETHAWATH RAMDAS,M,44.0,41028,4,41032,1386282,0,0.0,164.0
...,...,...,...,...,...,...,...,...,...,...,...
8350,33,PUVALA NAGESWARA RAO,M,60.0,465,0,465,901357,510,3.0,164.0
8351,33,K. MANJINI,M,41.0,767,0,767,901357,510,3.0,164.0
8352,33,R. VALAVAN,M,40.0,497,0,497,901357,510,3.0,164.0
8353,33,V. VIJAYA,F,29.0,746,0,746,901357,510,3.0,164.0
8354,33,NaN,NaN,NaN,22267,1,22268,901357,510,NaN,269.0

In [5]:
states=[]
pc_id=[]
total_electors=[]

In [17]:
for i,j in df.groupby('pc_id'):
    print(i)
    print(j['total_electors'].unique()[0])
    print(j.state_id.unique()[0])
    break

0
1386282
[0]

In [20]:
c=0
for i,j in df.groupby(['state_id','pc_id']):
    print(i)
    print(j)
    c+=1
    if c==2:
        break

(0, 0)
   state_id         candidate  sex   age  general_votes  postal_votes  \
0         0      GODAM NAGESH    M  49.0         425762          5085
1         0            NARESH    M  37.0         257994          1563
2         0     RAMESH RATHOD    M  48.0         182879          1319
3         0   RATHOD SADASHIV    M  55.0          94363            57
4         0  NETHAWATH RAMDAS    M  44.0          41028             4
5         0     PAWAR KRISHNA    M  33.0           5051             4
6         0     BANKA SAHADEV    M  53.0           4780             7
7         0  MOSALI CHINNAIAH    M  40.0           8842            17
8         0               NaN  NaN   NaN          17021            63

   total_votes  total_electors  pc_id  category_id  party_id
0       430847         1386282      0          0.0     412.0
1       259557         1386282      0          0.0     163.0
2       184198         1386282      0          0.0     406.0
3        94420         1386282      0          0.0     110.0
4        41032         1386282      0          0.0     164.0
5         5055         1386282      0          0.0     164.0
6         4787         1386282      0          0.0     164.0
7         8859         1386282      0          0.0     164.0
8        17084         1386282      0          NaN     269.0
(0, 1)
    state_id               candidate  sex   age  general_votes  postal_votes  \
9          0  DR.JANAPATI SARAT BABU    M  42.0          63174           160
10         0     TAGARAM SHANKAR LAL    M  37.0           9430            19
11         0             BALKA SUMAN    M  31.0         563214          2282
12         0           G. VIVEKANAND    M  56.0         273441           897
13         0         KALVALA SHANKAR    M  44.0           9288             2
14         0         KALVALA SANJEEV    M  37.0           8609             0
15         0  BOTHA VENKATA MALLAIAH    M  58.0           2245             0
16         0               J.V. RAJU    M  50.0           3020             0
17         0     VENKATA SWAMY INJAM    M  42.0           3861             5
18         0       VELTHURU MALLAIAH    M  57.0          45976             1
19         0        KAMILLA JAYA RAO    M  43.0           2741             1
20         0     GADDALA VINAY KUMAR    M  65.0           3263             3
21         0            GORRE RAMESH    M  43.0           2359             2
22         0          JINNA RAMADEVI    F  37.0           9199             0
23         0    THALLAPALLI SRINIVAS    M  35.0           3698             1
24         0        BUPELLI NARAYANA    M  30.0           7255             3
25         0         MOUTAM RAVINDER    M  33.0           2671             3
26         0                     NaN  NaN   NaN           5344            17

    total_votes  total_electors  pc_id  category_id  party_id
9         63334         1425355      1          2.0     406.0
10         9449         1425355      1          2.0     110.0
11       565496         1425355      1          2.0     412.0
12       274338         1425355      1          2.0     163.0
13         9290         1425355      1          2.0     292.0
14         8609         1425355      1          2.0     333.0
15         2245         1425355      1          2.0      66.0
16         3020         1425355      1          2.0     263.0
17         3866         1425355      1          2.0       NaN
18        45977         1425355      1          2.0     330.0
19         2742         1425355      1          2.0     164.0
20         3266         1425355      1          2.0     164.0
21         2361         1425355      1          2.0     164.0
22         9199         1425355      1          2.0     164.0
23         3699         1425355      1          2.0     164.0
24         7258         1425355      1          2.0     164.0
25         2674         1425355      1          2.0     164.0
26         5361         1425355      1          NaN     269.0

In [21]:
df.columns

Index(['state_id', 'candidate', 'sex', 'age', 'general_votes', 'postal_votes',
       'total_votes', 'total_electors', 'pc_id', 'category_id', 'party_id'],
      dtype='object')