In [1]:
from pandas import *
import numpy as np
import seaborn as sns
import matplotlib.pyplot  as plt
%matplotlib inline

In [2]:
df=read_csv("constituency_wise_results_2019.csv")

In [4]:
df.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418

In [6]:
df.state.nunique()

36

In [7]:
df.state.unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'West Bengal', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand',
       'Telangana', 'Andaman & Nicobar Islands', 'Chandigarh',
       'Dadra & Nagar Haveli', 'Daman & Diu', 'NCT OF Delhi',
       'Lakshadweep', 'Puducherry'], dtype=object)

In [8]:
df_state=read_csv("states.csv")

In [10]:
df_state

                        state  state_id
0                   Telangana         0
1              Andhra Pradesh         1
2           Arunachal Pradesh         2
3                       Assam         3
4                       Bihar         4
5                         Goa         5
6                     Gujarat         6
7                     Haryana         7
8            Himachal Pradesh         8
9             Jammu & Kashmir         9
10                  Karnataka        10
11                     Kerala        11
12             Madhya Pradesh        12
13                Maharashtra        13
14                    Manipur        14
15                  Meghalaya        15
16                    Mizoram        16
17                   Nagaland        17
18                     Punjab        18
19                  Rajasthan        19
20                     Sikkim        20
21                 Tamil Nadu        21
22                    Tripura        22
23              Uttar Pradesh        23
24                West Bengal        24
25                  Jharkhand        25
26                Uttarakhand        26
27  Andaman & Nicobar Islands        27
28                 Chandigarh        28
29       Dadra & Nagar Haveli        29
30                Daman & Diu        30
31               NCT OF Delhi        31
32                Lakshadweep        32
33                 Puducherry        33

In [21]:
data1=np.sort(df_state['state'].values)

In [20]:
data2=np.sort(df.state.unique())

In [26]:
data1.shape,data2.shape

((34,), (36,))

In [29]:
for i in  data2:
    if i not in data1:
        print(i)

Chhattisgarh
Odisha

In [38]:
df_state=read_csv("states.csv")

In [39]:
state_map={i['state']:i['state_id'] for i in  df_state.to_dict('records')}

In [41]:
state_map

{'Telangana': 0,
 'Andhra Pradesh': 1,
 'Arunachal Pradesh': 2,
 'Assam': 3,
 'Bihar': 4,
 'Goa': 5,
 'Gujarat': 6,
 'Haryana': 7,
 'Himachal Pradesh': 8,
 'Jammu & Kashmir': 9,
 'Karnataka': 10,
 'Kerala': 11,
 'Madhya Pradesh': 12,
 'Maharashtra': 13,
 'Manipur': 14,
 'Meghalaya': 15,
 'Mizoram': 16,
 'Nagaland': 17,
 'Punjab': 18,
 'Rajasthan': 19,
 'Sikkim': 20,
 'Tamil Nadu': 21,
 'Tripura': 22,
 'Uttar Pradesh': 23,
 'West Bengal': 24,
 'Jharkhand': 25,
 'Uttarakhand': 26,
 'Andaman & Nicobar Islands': 27,
 'Chandigarh': 28,
 'Dadra & Nagar Haveli': 29,
 'Daman & Diu': 30,
 'NCT OF Delhi': 31,
 'Lakshadweep': 32,
 'Puducherry': 33,
 'Chhattisgarh': 34,
 'Odisha': 35}

In [42]:
df['state_id']=df.state.map(state_map)

In [43]:
df.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,state_id
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1451418,1
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1

In [44]:
df['sex'].unique()

array(['MALE', 'FEMALE', nan, 'THIRD'], dtype=object)

In [46]:
df['sex']=df.sex.map(
    {
        'MALE':"M", 'FEMALE':'F', 'THIRD':"O"
    }
)

In [47]:
df

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,state_id
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,M,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,M,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,F,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,F,46.0,ST,INC,Hand,17656,74,17730,1451418,1
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,M,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,F,57.0,GENERAL,IND,Slate,870,0,870,973410,33
8593,Puducherry,Puducherry,IMS. BALAJI,M,32.0,GENERAL,IND,Bat,2546,0,2546,973410,33
8594,Puducherry,Puducherry,RAMESH.D,M,49.0,SC,IND,Mike,1653,0,1653,973410,33
8595,Puducherry,Puducherry,V. RAMAMURTHI,M,74.0,GENERAL,IND,Whistle,641,1,642,973410,33
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,973410,33

In [48]:
df.category.nunique()

3

In [49]:
df.category.unique()

array(['ST', nan, 'GENERAL', 'SC'], dtype=object)

In [50]:
import pickle

In [51]:
cat_map=pickle.load(open("category_mapping.pkl",'rb'))

In [52]:
cat_map

{'ST': 0, nan: nan, 'SC': 2, 'GEN': 3}

In [53]:
df['category_id']=df['category'].map(
    {'ST': 0, 'SC': 2, 'GENERAL': 3}
)

In [54]:
df.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,state_id,category_id
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,M,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1,0.0
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,M,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1,0.0
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,F,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1,0.0
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,F,46.0,ST,INC,Hand,17656,74,17730,1451418,1,0.0
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,M,49.0,ST,JnP,Glass Tumbler,42245,549,42794,1451418,1,0.0

In [55]:
df['party'].nunique()

674

In [56]:
df_party=read_csv("party.csv")

In [64]:
df['party']=df.party.str.upper()

In [79]:
df['party']=df.party.str.strip()

In [97]:
prev_parties=list(df_party['party'])
party=[]
symbol=[]
id=[]

In [98]:
c=452
for i,j in df.groupby('party'):
    if i not in prev_parties:
        party.append(i)
        symbol.append(j['party_symbol'].unique()[0])
        c+=1
        id.append(c)
# list(df_party['party'])

In [96]:
df_party

     party_id  party                   symbol
0           0  A S P            Walking Stick
1           1   AAAP                    Broom
2           2  AAMJP  Pen Nib with Seven Rays
3           3    AAP                  Almirah
4           4   ABAS                   BUCKET
..        ...    ...                      ...
448       448   RAVP                 Scissors
449       449   RDSC           Auto- Rickshaw
450       450  SHSAP                  Almirah
451       451    SPS                      Bat
452       452   SSRD                   Grapes

[453 rows x 3 columns]

In [77]:
674-453

221

In [92]:
count=0
for i in df['party'].unique():
    if i not in prev_parties:
        count+=1

In [103]:
df_party=concat([df_party,DataFrame({'party_id':id,'party':party,'symbol':symbol})],ignore_index=True)

In [106]:
df_party.to_csv("party.csv",index=False)

In [108]:
party_map={i['party']:i['party_id']  for  i in df_party.to_dict('records')}

In [110]:
df['party_id']=df['party'].map(party_map)

In [111]:
df.head()

,state,pc_name,candidate,sex,age,category,party,party_symbol,general_votes,postal_votes,total_votes,total_electors,state_id,category_id,party_id
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,M,72.0,ST,TDP,Bicycle,336163,1938,338101,1451418,1,0.0,406
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,M,54.0,ST,BJP,Lotus,17578,289,17867,1451418,1,0.0,80
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,F,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,1451418,1,0.0,428
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,F,46.0,ST,INC,Hand,17656,74,17730,1451418,1,0.0,163
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,M,49.0,ST,JNP,Glass Tumbler,42245,549,42794,1451418,1,0.0,647

In [112]:
df_1=df.drop(columns=['party','party_symbol','category'])

In [113]:
df_1

,state,pc_name,candidate,sex,age,general_votes,postal_votes,total_votes,total_electors,state_id,category_id,party_id
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,M,72.0,336163,1938,338101,1451418,1,0.0,406
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,M,54.0,17578,289,17867,1451418,1,0.0,80
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,F,26.0,557561,4629,562190,1451418,1,0.0,428
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,F,46.0,17656,74,17730,1451418,1,0.0,163
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,M,49.0,42245,549,42794,1451418,1,0.0,647
...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,F,57.0,870,0,870,973410,33,3.0,164
8593,Puducherry,Puducherry,IMS. BALAJI,M,32.0,2546,0,2546,973410,33,3.0,164
8594,Puducherry,Puducherry,RAMESH.D,M,49.0,1653,0,1653,973410,33,2.0,164
8595,Puducherry,Puducherry,V. RAMAMURTHI,M,74.0,641,1,642,973410,33,3.0,164
8596,Puducherry,Puducherry,NOTA,NaN,NaN,12192,7,12199,973410,33,NaN,269

In [114]:
df_pc=read_csv("pc.csv")

In [115]:
df_pc

     pc_id  state_id           pc_name
0        0         0          Adilabad
1        1         0        Peddapalle
2        2         0        Karimnagar
3        3         0         Nizamabad
4        4         0         Zahirabad
..     ...       ...               ...
506    506        31  North West Delhi
507    507        31        West Delhi
508    508        31       South Delhi
509    509        32       Lakshadweep
510    510        33        Puducherry

[511 rows x 3 columns]

In [147]:
pc_id=510

In [119]:
prev_states=list(df_pc.state_id.unique())

In [121]:
curr_states=list(df_1.state_id.unique())

In [149]:
data={'state_id':[],'pc_name':[],"pc_id":[]}

In [130]:
df_1['pc_name']=df_1.pc_name.str.title()

In [150]:
for i in curr_states:
    if i not in prev_states:
        print(i)
        for j in df_1[df_1.state_id==i]['pc_name'].unique():
            data['state_id'].append(i)
            data['pc_name'].append(j)
            pc_id+=1
            data['pc_id'].append(pc_id)
    else:
        temp=list(df_1[df_1.state_id==i].pc_name.unique())
        for j in temp:
            if j not in list(df_pc[df_pc.state_id==i]['pc_name'].unique()):
                data['state_id'].append(i)
                data['pc_name'].append(j)
                pc_id+=1
                data['pc_id'].append(pc_id)

35
34

In [126]:
df_1[df_1.state_id==35]['pc_name'].unique()

array(['Bargarh', 'Sundargarh', 'Sambalpur', 'Keonjhar', 'Mayurbhanj',
       'Balasore', 'Bhadrak', 'Jajpur', 'Dhenkanal', 'Bolangir',
       'Kalahandi', 'Nabarangpur', 'Kandhamal', 'Cuttack', 'Kendrapara',
       'Jagatsinghpur', 'Puri', 'Bhubaneswar', 'Aska', 'Berhampur',
       'Koraput'], dtype=object)

In [151]:
df_pc_temp=concat([df_pc,DataFrame(data)],ignore_index=True)

In [155]:
df_pc_temp.to_csv('pc.csv',index=False)

In [159]:
df_temp=df_1.merge(df_pc_temp,on=['state_id','pc_name'],how='inner')

In [160]:
df_temp

,state,pc_name,candidate,sex,age,general_votes,postal_votes,total_votes,total_electors,state_id,category_id,party_id,pc_id
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,M,72.0,336163,1938,338101,1451418,1,0.0,406,17
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,M,54.0,17578,289,17867,1451418,1,0.0,80,17
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,F,26.0,557561,4629,562190,1451418,1,0.0,428,17
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,F,46.0,17656,74,17730,1451418,1,0.0,163,17
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,M,49.0,42245,549,42794,1451418,1,0.0,647,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,F,57.0,870,0,870,973410,33,3.0,164,510
8593,Puducherry,Puducherry,IMS. BALAJI,M,32.0,2546,0,2546,973410,33,3.0,164,510
8594,Puducherry,Puducherry,RAMESH.D,M,49.0,1653,0,1653,973410,33,2.0,164,510
8595,Puducherry,Puducherry,V. RAMAMURTHI,M,74.0,641,1,642,973410,33,3.0,164,510
8596,Puducherry,Puducherry,NOTA,NaN,NaN,12192,7,12199,973410,33,NaN,269,510

In [161]:
df_temp[df_temp.pc_name=="Aurangabad"]

,state,pc_name,candidate,sex,age,general_votes,postal_votes,total_votes,total_electors,state_id,category_id,party_id,pc_id
1135,Bihar,Aurangabad,NARESH YADAV,M,34.0,33697,75,33772,1742883,4,3.0,110,94
1136,Bihar,Aurangabad,SUSHIL KUMAR SINGH,M,53.0,426116,1605,427721,1742883,4,3.0,80,94
1137,Bihar,Aurangabad,AVINASH KUMAR,M,35.0,13668,12,13680,1742883,4,3.0,739,94
1138,Bihar,Aurangabad,UPENDRA PRASAD,M,55.0,356846,323,357169,1742883,4,3.0,607,94
1139,Bihar,Aurangabad,DR DHARMENDRA KUMAR,M,42.0,16584,5,16589,1742883,4,0.0,473,94
1140,Bihar,Aurangabad,SOM PRAKASH,M,46.0,11709,4,11713,1742883,4,3.0,850,94
1141,Bihar,Aurangabad,DHIRENDRA KUMAR SINGH,M,62.0,24826,6,24832,1742883,4,3.0,164,94
1142,Bihar,Aurangabad,YOGENDRA RAM,M,58.0,11979,8,11987,1742883,4,2.0,164,94
1143,Bihar,Aurangabad,SANTOSH KUMAR SINHA,M,43.0,15010,4,15014,1742883,4,3.0,164,94
1144,Bihar,Aurangabad,NOTA,NaN,NaN,22397,27,22424,1742883,4,NaN,269,94
3506,Maharashtra,Aurangabad,Chandrakant Khaire,M,67.0,383759,791,384550,1886284,13,3.0,377,241
3507,Maharashtra,Aurangabad,Jaya Balu Rajkundal,F,54.0,4793,28,4821,1886284,13,2.0,110,241
3508,Maharashtra,Aurangabad,Zambad Subhash Manakchand,M,56.0,91688,101,91789,1886284,13,3.0,163,241
3509,Maharashtra,Aurangabad,Agrawal Kunjbihari Jugalkishor,M,60.0,1811,1,1812,1886284,13,3.0,744,241
3510,Maharashtra,Aurangabad,Arvind Kisanrao Kamble,M,27.0,2775,4,2779,1886284,13,2.0,521,241
3511,Maharashtra,Aurangabad,Imtiaz Jaleel Syed,M,50.0,388784,258,389042,1886284,13,3.0,27,241
3512,Maharashtra,Aurangabad,Uttam Dhanu Rathod,M,65.0,2212,1,2213,1886284,13,3.0,495,241
3513,Maharashtra,Aurangabad,Dipali Lalaji Misal,F,26.0,1663,3,1666,1886284,13,2.0,92,241
3514,Maharashtra,Aurangabad,Nadim Rana,M,45.0,1210,0,1210,1886284,13,3.0,518,241
3515,Maharashtra,Aurangabad,M. B. Magare,M,62.0,1226,2,1228,1886284,13,2.0,739,241
3516,Maharashtra,Aurangabad,Mohammad Jaqeer Abdul Qadar,M,43.0,3194,4,3198,1886284,13,3.0,535,241
3517,Maharashtra,Aurangabad,Mohsin Sir Nasim Bhai,M,29.0,4590,0,4590,1886284,13,3.0,267,241
3518,Maharashtra,Aurangabad,Subhash Kisanrao Patil,M,57.0,1874,4,1878,1886284,13,3.0,699,241
3519,Maharashtra,Aurangabad,Habib Gayas Shaikh,M,53.0,1503,0,1503,1886284,13,3.0,43,241
3520,Maharashtra,Aurangabad,Kurangal Sanjay Baburao,M,48.0,1351,1,1352,1886284,13,3.0,164,241
3521,Maharashtra,Aurangabad,Khan Aejaz Ahemad,M,44.0,5042,1,5043,1886284,13,3.0,164,241
3522,Maharashtra,Aurangabad,Jagan Baburao Salve,M,42.0,3216,0,3216,1886284,13,2.0,164,241
3523,Maharashtra,Aurangabad,Fulare Suresh Asaram,M,38.0,867,0,867,1886284,13,3.0,164,241
3524,Maharashtra,Aurangabad,Ravindra Bhanudas Kale,M,39.0,922,0,922,1886284,13,3.0,164,241
3525,Maharashtra,Aurangabad,Shaikh Khaja Shaikh Kasim Kismatwala,M,42.0,1869,0,1869,1886284,13,3.0,164,241
3526,Maharashtra,Aurangabad,Sangita Kalyanrao Nirmal,F,42.0,2213,1,2214,1886284,13,3.0,164,241
3527,Maharashtra,Aurangabad,Harshwardhandada Raibhanji Jadhav,M,41.0,283237,561,283798,1886284,13,3.0,164,241
3528,Maharashtra,Aurangabad,Tribhuvan Madhukar Padmakar,M,51.0,1731,1,1732,1886284,13,2.0,164,241
3529,Maharashtra,Aurangabad,NOTA,NaN,NaN,4919,10,4929,1886284,13,NaN,269,241

In [163]:
df_final=df_temp.drop(columns=['state','pc_name'])

In [164]:
df_final

,candidate,sex,age,general_votes,postal_votes,total_votes,total_electors,state_id,category_id,party_id,pc_id
0,KISHORE CHANDRA DEO,M,72.0,336163,1938,338101,1451418,1,0.0,406,17
1,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,M,54.0,17578,289,17867,1451418,1,0.0,80,17
2,GODDETI. MADHAVI,F,26.0,557561,4629,562190,1451418,1,0.0,428,17
3,SHRUTI DEVI VYRICHERLA,F,46.0,17656,74,17730,1451418,1,0.0,163,17
4,GANGULAIAH VAMPURU.,M,49.0,42245,549,42794,1451418,1,0.0,647,17
...,...,...,...,...,...,...,...,...,...,...,...
8592,TIRAVITAMANKAI@LOURDHUMARY,F,57.0,870,0,870,973410,33,3.0,164,510
8593,IMS. BALAJI,M,32.0,2546,0,2546,973410,33,3.0,164,510
8594,RAMESH.D,M,49.0,1653,0,1653,973410,33,2.0,164,510
8595,V. RAMAMURTHI,M,74.0,641,1,642,973410,33,3.0,164,510
8596,NOTA,NaN,NaN,12192,7,12199,973410,33,NaN,269,510

In [165]:
df_final.to_csv("results_2019.csv",index=False)

In [166]:
df_14=read_csv("results_2014.csv")

In [169]:
df_14

,state_id,candidate,sex,age,general_votes,postal_votes,total_votes,total_electors,pc_id,category_id,party_id
0,0,GODAM NAGESH,M,49.0,425762,5085,430847,1386282,0,0.0,412.0
1,0,NARESH,M,37.0,257994,1563,259557,1386282,0,0.0,163.0
2,0,RAMESH RATHOD,M,48.0,182879,1319,184198,1386282,0,0.0,406.0
3,0,RATHOD SADASHIV,M,55.0,94363,57,94420,1386282,0,0.0,110.0
4,0,NETHAWATH RAMDAS,M,44.0,41028,4,41032,1386282,0,0.0,164.0
...,...,...,...,...,...,...,...,...,...,...,...
8350,33,PUVALA NAGESWARA RAO,M,60.0,465,0,465,901357,510,3.0,164.0
8351,33,K. MANJINI,M,41.0,767,0,767,901357,510,3.0,164.0
8352,33,R. VALAVAN,M,40.0,497,0,497,901357,510,3.0,164.0
8353,33,V. VIJAYA,F,29.0,746,0,746,901357,510,3.0,164.0
8354,33,NaN,NaN,NaN,22267,1,22268,901357,510,NaN,269.0